<?xml version="1.0" encoding="utf-8"?>
<Root>
  <!--简单示例，不需要使用锁服务-->
  <!--<Service type="Scree.Lock.ILockService, Scree.Lock" driver="Scree.Lock.Client.LockService, Scree.Lock.Client"/>-->
  <!--简单示例，不需要使用缓存服务-->
  <!--<Service type="Scree.Cache.ICacheService, Scree.Cache" driver="Scree.Cache.CacheService, Scree.Cache"/>-->
    <Service type="Scree.DataBase.IMappingService, Scree.DataBase" driver="Scree.DataBase.MappingService, Scree.DataBase"/>
  <!--简单示例，不需要使用同步服务-->
  <!--<Service type="Scree.Syn.Client.ISynClientService, Scree.Syn.Client" driver="Scree.Syn.Client.SynClientService, Scree.Syn.Client"/>-->
    <Service type="Scree.Persister.IPersisterService, Scree.Persister" driver="Scree.Persister.PersisterService, Scree.Persister"/>
</Root>
