<?xml version="1.0" encoding="utf-8"?>
<Cache>
  <Comm>
    <!--缓存清理间隔，单位s，默认600s-->
    <ClearInterval>600</ClearInterval>
    <!--缓存最短驻留时间，以最后获取时间计算，单位s，默认90s-->
    <MinStayTime>90</MinStayTime>
    <!--缓存获取更新锁超时时间，单位ms，默认5000ms-->
    <WriteLockTimeout>5000</WriteLockTimeout>
    <!--固定缓存尺寸日志记录时间间隔，单位M，默认10M-->
    <FixLoggingInterval>10</FixLoggingInterval>
  </Comm>
  <Types>
    <!--
      name：类型限定全名
      second：缓存时间，单位秒
      isfix：是否固定缓存
      size：固定缓存条数
      缓存过期或者超过size，都将清理缓存。
      <Type name="Object full name" second="40" isfix="true" size="300"/>
      <Type name="Scree.Cache.ArrayCache`1[[MyApp.Models.User, MyApp.Models, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]" second="60" size="300" />
      -->
    <Type name="MyApp.Models.User" second="30" isfix="false" size="3"/>
    <Type name="Scree.Cache.ArrayCache`1[[MyApp.Models.User, MyApp.Models, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]" second="60" size="2" />
  </Types>
</Cache>
