<?xml version="1.0" encoding="utf-8"?>
<Assemblies autocreatetable="true">
  <Assembly name="MyApp.Models">
    <Type name="MyApp.Models.User" default="current">
      <StorageContext name="UserSubById" >userdb</StorageContext>
      <StorageContext name="UserSubByHour" >userdb</StorageContext>
    </Type>
  </Assembly>
</Assemblies>
