<?xml version="1.0" encoding="utf-8" ?>
<StorageContexts>
  <StorageContext name="current">
    <DataSource>127.0.0.1</DataSource>
    <Catalog>AdvancedExample</Catalog>
    <UId>dbname</UId>
    <Pwd>dbpassword</Pwd>
    <Enabled>true</Enabled>
    <Timeout>60</Timeout>
    <MinPoolSize>1</MinPoolSize>
    <MaxPoolSize>100</MaxPoolSize>
  </StorageContext>
  <StorageContext name="userdb">
    <DataSource>127.0.0.1</DataSource>
    <Catalog>AdvancedExample-User</Catalog>
    <UId>dbname</UId>
    <Pwd>dbpassword</Pwd>
    <Enabled>true</Enabled>
    <Timeout>60</Timeout>
    <MinPoolSize>1</MinPoolSize>
    <MaxPoolSize>100</MaxPoolSize>
  </StorageContext>
</StorageContexts>
