<?xml version="1.0" encoding="utf-8"?>
<SynClient>
  <Comm>
    <!--Remoting服务地址-->
    <ServerURI>tcp://127.0.0.1:8088/SynServerService</ServerURI>
    <!--发送待同步数据启动定时器延迟时间，单位s, 默认0s-->
    <PostDueTime>0</PostDueTime>
    <!--发送待同步数据定时器执行时间间隔，单位ms，默认3000ms-->
    <PostPeriod>3000</PostPeriod>
    <!--获取待同步数据启动定时器延迟时间，单位s, 默认0s-->
    <GetDueTime>0</GetDueTime>
    <!--获取待同步数据定时器执行时间间隔，单位ms，默认3000ms-->
    <GetPeriod>3000</GetPeriod>
    <!--发送待同步数据失败重试间隔时间，单位ms，默认3000ms-->
    <PostTryInterval>3000</PostTryInterval>
    <!--发送待同步数据失败重试间隔时间累积倍数，默认3-->
    <PostTryMultiple>3</PostTryMultiple>
    <!--发送待同步数据失败重试次数，默认4-->
    <PostTrys>4</PostTrys>
    <!--同步数据清理间隔，单位s，默认600s-->
    <ClearInterval>600</ClearInterval>
  </Comm>
  <!--所有数据默认非懒惰模式同步，以下可以配置为使用懒惰模式同步-->
  <Syn>
    <!--<Type name="MyApp.Models.User" islazy="true" />-->
  </Syn>
  <!--以下可以排除不需要同步的对象-->
  <Excluded>
    <!--<Type name="MyApp.Models.SystemLog" />-->
  </Excluded>
</SynClient>
