<?xml version="1.0" encoding="utf-8"?>
<SynServer>
  <!--Remoting ApplicationName-->
  <ApplicationName>SynServerService</ApplicationName>
  <!--Remoting 端口-->
  <Port>8088</Port>
  <!--过期同步数据清理时间间隔，单位s，默认300s-->
  <ClearInterval>300</ClearInterval>
  <!--待同步数据保留时间，单位M，默认15M-->
  <TimeLimit>60</TimeLimit>
</SynServer>
