<?xml version="1.0" encoding="utf-8"?>
<LockServer>
  <!--Remoting ApplicationName-->
  <ApplicationName>LockServerService</ApplicationName>
  <!--Remoting 端口-->
  <Port>8080</Port>
  <!--锁过期时间，单位s，默认90s-->
  <Expire>90</Expire>
  <!--锁获取失败时，重试间隔时间，单位s，默认5s-->
  <TryInterval>5</TryInterval>
  <!--锁获取失败时，重试次数，默认3-->
  <Trys>3</Trys>
  <!--过期未释放锁清理时间间隔，单位s，默认30s-->
  <ClearInterval>30</ClearInterval>
</LockServer>
