<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<log4net>
		<root>
			<level value="debug" />
			<appender-ref ref="RollingFileAppender_Info" />
			<appender-ref ref="RollingFileAppender_Warn" />
			<appender-ref ref="RollingFileAppender_Error" />
		</root>

		<appender name="RollingFileAppender_Info"  type="log4net.Appender.RollingFileAppender" >
			<param name="File" value="log\info\info.txt" />
			<appendToFile value="true" />
			<rollingStyle value="composite" />
			<datePattern value="yyyyMMdd" />
			<maxSizeRollBackups value="-1" />
			<maximumFileSize value="10mb" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern"  value="%d [%t] %-5p%n- %m%n" />
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="debug" />
				<param name="LevelMax" value="info" />
			</filter>
		</appender>
		<appender name="RollingFileAppender_Warn" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="log\info\warn.txt" />
			<appendToFile value="true" />
			<rollingStyle value="composite" />
			<datePattern value="yyyyMMdd" />
			<maxSizeRollBackups value="-1" />
			<maximumFileSize value="4mb" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern"  value="%d [%t] %-5p%n- %m%n" />
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="warn" />
				<param name="LevelMax" value="warn" />
			</filter>
		</appender>
		<appender name="RollingFileAppender_Error"  type="log4net.Appender.RollingFileAppender" >
			<param name="File" value="log\error.txt" />
			<appendToFile value="true" />
			<rollingStyle value="composite" />
			<datePattern value="yyyyMMdd" />
			<maxSizeRollBackups value="-1" />
			<maximumFileSize value="2mb" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern"  value="%d [%t] %-5p%n- %m%n" />
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="error" />
				<param name="LevelMax" value="fatal" />
			</filter>
		</appender>
	</log4net>
</configuration>